body{
    background-image: url(secret_santa2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 1vh;

}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
   
}



button:hover{
    background-color: red;
}

button.active{
    background-color: green;
}
button{
    background-color: green;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;    
   margin-left: 300px;
   margin-right: 100px;
    margin-bottom: 10px;
} 

#santa{
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 100px;
    width:300px;
    height:100px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;        
    font-size: 60px;
    border-radius: 40%;
    

}


.right {
  flex: 3;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-height: 1500px;
  max-width: 150px;
    margin-top: 300px;
    margin-bottom: 100px;
    margin-right: 50px;
    
   

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 8px;
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 0px;
    margin-right: 500px;
}

h3{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    margin-right: 0px;
}

h4{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin:0;
    margin-top: 0px;
   font-family: 'Lucida Sans';
   margin-left: 230px
}

input[type="reset"] {
    background-color: red;
    border: solid;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;    
   margin-left: 300px;
   margin-right: 100px;
   margin-bottom: 20px;
}

h5{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-left: 230px;
    margin-top: 10px;
    font-family: 'Lucida Sans';
}

h6{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-left: 230px;
    margin-top: 10px;
    font-family: 'Lucida Sans';
}

div#pageLimit{
  margin-right: 100px;
}
#numberLimit,
label[for="numberLimit"] {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}
#numberLimit {
  color: black;
    margin-top: 10px; /* moves down */
}

div#pageLimit h2{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 0px;

}

div#pageLimit button#confirmLimit {
    padding: 13px;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
    width: 150px;
    transition: 0.2s ease;
    transform: translateY(0);
}

div#pageLimit input[type="number"]{
    padding: 10px; 
    font-size:18px;
    border-radius:8px; 
    width: 300px; 
    margin-top:30px;
    margin-left: 20px;
    border: 1px solid #888;
    box-sizing: border-box;
}
